
@model SportsLeagueOrganizer.Models.Team

@{
    ViewData["Title"] = "Team - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Team Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.DivisionId) : @Html.DisplayFor(model => model.DivisionId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) | @Html.ActionLink("Back to List", "Index")</p>