@{
    ViewData["Title"] = "Sports League Organizer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SportsLeagueOrganizer.Models.Team>

<h2>Sports League Organizer</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Division.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listTeam in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelTeam => listTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelTeam => listTeam.Division.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listTeam.TeamId }) |
                @Html.ActionLink("Details", "Details", new { id = listTeam.TeamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = listTeam.TeamId })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>